@charset "UTF-8";
/* ==========================================================================
* Кнопки
* ========================================================================== */

.button{
	display: inline-block;
	border: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0;	
	
	transition: all .3s;
	line-height: 1;

	font-family: $mainFontFamily;

	cursor: pointer;

	&:disabled{
		background: #ccc;
		cursor: default;
		&:hover{
			background: #ccc;
		}
	}


	&--color{
		background: #000;
		color: #fff;
		&:hover{
			background: lighten(#000, 5%);
		}
		&:active{
			background: darken(#000, 5%);
		}
	}


	&--orange{
		background: $orange;
		color: #fff;
		&:hover{
			background: lighten( $orange, 5%);
		}
		&:active{
			background: darken( $orange, 5%);
		}
	}

	&--pink{
		background: #e40284;
		background: linear-gradient(to bottom, #e40284 0%, #f26cb9 100%);
		color: #fff;

		box-shadow: 0px 5px 10px rgba(0,0,0,.7);

		transition: backgrouns .2s;

		&:hover{
			background: lighten(#e40284, 5%);
			background: linear-gradient(to bottom, lighten(#e40284, 5%) 0%, lighten(#f26cb9, 5%) 100%);
		}
		&:active{
			background: darken(#e40284, 5%);
			background: linear-gradient(to bottom, darken(#e40284, 5%) 0%, darken(#f26cb9, 5%) 100%);
			box-shadow: 0px 3px 5px rgba(0,0,0,.5);
			position: relative;
			top: 2px;
		}


		&:disabled{
			background: #ccc;
			cursor: default;
			&:hover{
				background: #ccc;
			}
		}
	}

	&--m{
		border-radius: 8px;
		font-size: 14px;
		font-weight: 700;
		padding: 8px 10px 5px;

	}

	&--l{
		border-radius: 11px;
		font-weight: 700;
		font-size: 20px;
		padding: 14px 35px 14px;
	}

	&--l2{
		border-radius: 11px;
		font-weight: 700;
		font-size: 16px;
		padding: 10px 25px 10px;
	}

	&--block{
		width: 100%;	
		padding-left: 0;
		padding-right: 0;
	}


}

/* ==========================================================================
* Формы
* ========================================================================== */

.form{

	@include clearfix;

	&__columns{
		@include clearfix;
		margin: 0 0 0 -4%;
	}

	&__column{
		width: 46%;
		margin: 0 0 0 4%;
		float: left;
	}

	&__line{
		@include clearfix;
		margin-bottom: 16px;
	}

	&__input-placeholder{
		position: relative;
		margin-bottom: 20px;
	}

	label.error{
		font-size: 13px;
		color: #ef6d51;
		position: absolute;
		bottom: 100%;
		right: 0;
		padding: 5px;
		margin: 0 0 -5px;
		text-align: center;
		white-space: nowrap;
		color: #fff;
		border-radius: 5px;
		background: #000;
		background: rgba(0, 0, 0, .7);
	}

	&__button-placeholder{
		margin-top: 20px;
	}

	&__input,
	&__textarea{
		-webkit-appearance: none;
		padding: 0 0 0 12px;
		width: 100%;
		outline: none;
		border: 1px solid #dddddd;
		max-width: 100%;
		font-size: 15px;
		font-family: $mainFontFamily;
		background: #fff;
		border-radius: 5px;
		height: 34px;
		line-height: 34px;
		&.error{
			border-color: #ef6d51;
		}
	}
	&__input{
		&--h40{
			height: 40px;
			line-height: 40px;
		}
	}
	&__textarea{
		padding-top: 0px;
		height: 140px;
		&--h120{
			height: 120px;
		}
	}
}


/* ==========================================================================
 * file
 * ========================================================================== */

.file{
	@include clearfix;

	cursor: pointer;

	&__input{
		display: none;
	}

	&__button{
		width: 86px;
		color: #fff;
		background: #838383;
		font-weight: 700;
		text-align: center;
		display: block;
		height: 34px;
		line-height: 34px;

		border-radius: 6px;
		
		float: right;
		font-size: 15px;
	}

	&__text{
		-webkit-appearance: none;
		padding: 0 0 0 12px;
		display: block;
		outline: none;
		border: 1px solid #dddddd;
		max-width: 100%;
		font-size: 15px;
		font-family: $mainFontFamily;
		background: #fff;
		border-radius: 5px;
		height: 34px;
		line-height: 34px;

		margin: 0 94px 0 0;

		color: #b2b2b2;
	}
}

/* ==========================================================================
 * checkbox
 * ========================================================================== */

.radio{
	position: relative;
	cursor: pointer;

	line-height: 1;
	//min-height: 40px;
	display: inline-block;
	padding: 0;
	min-height: 45px;

	&__input{
		position: absolute;
		left: -9999px;
		top: 0;

		&:checked + .radio__text:before{
			//@include sprite($radio-checked);
		}
	}

	&__text{
		display: inline-block;
		vertical-align: middle;
		//font-size: 18px;
		line-height: (22/18);
		padding: 12px 0 0 60px;
		box-sizing: border-box;
		color: $text;

		&:before{
			box-sizing: border-box;
			content: '';
			display: block;

			//@include sprite($radio);

			position: absolute;
			top: 0px;
			left: 0px;
		}
	}


}


