@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.body-container{
	overflow: hidden;
	position: relative;
}

.wrap{
	@include clearfix;
	width: 960px;
	margin: auto;
}

/* ==========================================================================
 * main
 * ========================================================================== */

.header-logo{
	display: block;
	text-indent: -9999px;
	position: relative;
	width: image-width( '../assets/sprite/logo-big.png' );
	height: image-height( '../assets/sprite/logo-big.png' );

	//overflow: hidden;

	transition: all .2s;

	&:before,
	&:after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		transition: all .5s;
	}

	&:before{
		@include sprite(logo-big);
		top: 0;
	}
	&:after{
		@include sprite(logo);
		top: -500%;
	}

	&--small{
				

	}
}

/* ==========================================================================
 * header
 * ========================================================================== */

.header{

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	background: #fff;

	min-height: 190px;

	padding: 30px 0 20px;



	&--fixed{
		position: fixed;

		@media (max-width: $max-width), (max-height: $max-height){
			position: absolute;
		}
	}

	&--small{
		min-height: 90px;
		padding: 17px 0 15px;

		box-shadow: 0 0 10px rgba(0,0,0,.5);

		.header{
			
			&__contacts{
				margin-top: 15px;
				font-size: 16px;
			}

			&__logo{
				width: 100px;
				height: 62px;
			}

			&__content{
				margin-top: 10px;
				margin-left: 105px;
			}

			&__slogan{
				width: 500px;
				margin-bottom: 13px;
				font-size: 16px;
			}
		}

		.header-logo{
			&:before{
				top: -500%;
			}

			&:after{
				top: 0;	
			}
		}

		.header-slogan__dot{
			display: inline;
		}

		.header-contacts{

			&__list{
				margin: 0 0 -6px;
			}

			&__item{
				margin: 0 0 6px;
			}

			&__phone{
				font-size: 16px;
			}

			&__email{
				font-size: 12px;
			}
		}
	}

	&__logo{
		float: left;
	}

	&__contacts{
		margin: 20px 0 0;
		float: right;
		color: #565859;
		text-align: right;
		transition: all .2s;
		position: relative;
		z-index: 2;
	}


	&__content{
		margin: 20px 0 0 187px;
		transition: all .2s;
		position: relative;
	}

	&__slogan{
		width: 210px;
		margin: 0 0 40px;
		transition: all .2s;
	}

	&__menu{
		
	}
}


.header-contacts{

	&__list{
		@include list;
		margin: 0 0 -8px;
	}

	&__item{
		margin: 0 0 8px;
		transition: all .2s;
	}

	&__phone{
		font-weight: 700;
		font-size: 19px;
		transition: all .2s;
	}

	&__email{
		font-size: 15px;
		transition: all .2s;
	}
}

.header-slogan{
	font-size: 19px;
	font-weight: 300;
	
	&__dot{
		display: none;	
	}
}

.menu{
	
	&__list{
		@include list;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 20px;

		&:first-child{
			margin-left: 0;
		}
	}

	&__href{
		font-size: 16px;
		font-weight: 700;
		color: $orange;

		transition: all .2s;

		&.active{
			color: #322f34;
			border-color: transparent;
		}
	}
}


/* ==========================================================================
 * section
 * ========================================================================== */

.section{
	position: relative;
	padding: 120px 0 90px;

	&--scrolling{
		.section__scroll{
			opacity: 0;
		}
	}

	@media (max-height: $max-height){
		padding: 40px 0 40px;
	}

	&__inner{		
		display: table;
		width: 100%;
		height: 100%;
	}

	&__content{
		display: table-cell;
		vertical-align: middle;
	}

	&__scroll{
		display: block;
		margin: 0 auto 0;
		text-indent: -9999px;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 20px;
		transform: translateX(50px);

		transition: all .5s;

		@media (max-width: $max-width), (max-height: $max-height){
			display: none;
		}

		&--white{
			@include sprite(scroll-white);
		}
		&--grey{
			@include sprite(scroll-black);
			opacity: .15;
		}
		&--gray{
			@include sprite(scroll-black);
			opacity: .4;
		}
	}
}


/* ==========================================================================
 * block
 * ========================================================================== */

.block{
	
	padding: 0 0 118px;

	&--big{

		.block__border{

			@media (min-height: $max-height) and (max-height: 850px){
				padding-top: 20px;
			}		
		}

		.block__content{

			@media (min-height: $max-height) and (max-height: 850px){
				margin-bottom: -130px;
			}		
		}

	}

	&--transparent-white{

		.block__border{			
			border-color: #fff;

			&:before{
				border-color: #fff;
			}

			&:after{
				@include sprite(block-white-corner);
			}

		}

	}	

	&--transparent-grey{

		.block__border{			
			border-color: #e7e7e7;

			&:before{
				border-color: #e7e7e7;
			}

			&:after{
				@include sprite(block-grey-corner);
			}

		}

	}	

	&--white{
		.block__border{			
			border-color: #fff;
			background: #fff;

			&:before{
				background: #fff;
				border-color: #fff;
			}

			&:after{
				@include sprite(block-fill-white-corner);
			}

		}

	}

	&__border{

		padding: 60px 75px 20px;
		position: relative;

		border: 3px solid #fff;
		border-radius: 12px 12px 0 0;

		border-bottom: 0;

		z-index: 1;
			
		&:before,
		&:after{
			content: '';
			display: block;
			position: absolute;

			z-index: -1;
		}

		&:after{
			top: 100%;
			right: -3px;
			margin: -5px 0 0 0;	
		}

		&:before{
			border-left: 3px solid #fff;
			border-bottom: 3px solid #fff;
			border-radius: 0 0 0 12px;
			height: 120px;
			top: 100%;
			left: -3px;
			right: 115px;
			margin: -2px 0 0;
		}
	}

	&__content{
		position: relative;
		margin-bottom: -70px;
	}

	&__title{
		font-size: 31px;
		font-weight: 600;
		margin: 0 0 35px;
	}

	&__text{
		margin: 0 0 30px;
	}
}

/* ==========================================================================
 * about
 * ========================================================================== */

.about{
	padding-top: 240px;

	background: #ece4df url(../images/bg/about.jpg) 50% 190px no-repeat;
	background-size: cover;

	@media (max-height: $max-height){
		padding-top: 220px;
	}

	&__top{
		width: 50%;
		margin: 0 0 30px;
	}

	&__bottom{
		@include clearfix;
	}

	&__result{
		width: 50%;
		float: left;
		text-transform: uppercase;
		font-weight: 700;
	}

	&__button-placeholder{
		width: 50%;
		float: left;
		text-align: center;
	}
}

/* ==========================================================================
 * activity
 * ========================================================================== */

.activity{
	background: #fff;

	&__text{
		margin: 0 0 30px;
	}

	&__list{
		@include list;
		margin: 0 -30px -30px;
		text-align: center;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 250px;
		margin: 0 11px 30px;
	}
}

.activity-item{
	position: relative;
	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	&--1{
		&:before{
			@include sprite(activity-1);
		}
	}

	&--2{
		&:before{
			@include sprite(activity-2);
		}
	}

	&--3{
		&:before{
			@include sprite(activity-3);
		}
	}

	&__title-placeholder{
		line-height: 50px;
		padding: 0 0 0 60px;
		margin: 0 0 20px;
	}

	&__title{
		display: inline-block;
		vertical-align: middle;
		line-height: 0.9;
		font-size: 26px;
		font-weight: 600;
	}

	&__content{
		margin: 0 0 20px;
		min-height: 250px;
	}

	&__desc{
		font-size: 14px;
		color: $orange;
		font-weight: 700;
		margin: 0 0 20px;
	}

	&__text{
		font-size: 13px;
	}
}

/* ==========================================================================
 * activity-info
 * ========================================================================== */

.activity-info{
	position: relative;
	padding: 5px 0 0 95px;

	&:before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	&--1:before{		
		@include sprite(activity-big-1);
	}

	&--2:before{		
		@include sprite(activity-big-2);
	}

	&--3:before{		
		@include sprite(activity-big-3);
	}

	&__company{
		color: #c1c1c1;
		font-size: 15px;
		margin: 0 0 5px;
	}

	&__title{
		font-weight: 600;
		font-size: 40px;
		margin: 0 0 25px;
	}

	&__text{
		border-bottom: 1px solid #d3d3d3;
		padding: 0 0 50px;
		margin: 0 0 50px;
	}

	&__list{
		@include list;
		margin: 0 0 -8px;
		color: #8f949a;
		font-size: 14px;
	}

	&__item{
		margin: 0 0 8px;
		padding: 0 0 0 20px;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			@include sprite(orange-list-mark-small);
		}
	}
}


/* ==========================================================================
 * projects
 * ========================================================================== */

.projects{

	background: #ece4df url(../images/bg/projects.jpg) 50% 0% no-repeat;
	background-size: cover;


	&__list{
		@include list;
		margin: 0 -30px 30px;
		text-align: center;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 250px;
		margin: 0 11px 30px;
	}

	&__more-placeholder{
		padding: 0 0 0 30px;
	}

	&__more{
		position: relative;
		font-size: 19px;
		font-weight: 600;

		&:before{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 5px 0 5px;
			border-color: $text transparent transparent transparent;
			position: absolute;
			top: 0;
			left: -20px;
			bottom: 0;
			margin: auto;
		}
	}

}

.projects-item{

	&__image-placeholder{
		display: block;
		height: 237px;
		overflow: hidden;
		margin: 0 0 25px;
	}

	&__image{
		display: block;
		min-width: 100%;
		height: 100%;
	}

	&__title-placeholder{
		margin: 0 -10px 20px 0;
	}

	&__title{
		color: $orange;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.3;
	}

	&__list{
		@include list;
		list-style: disc;
		padding-left: 15px;
		margin-bottom: -7px;
		font-size: 14px;
	}

	&__list-item{
		margin: 0 0 7px;
	}
}

/* ==========================================================================
 * project
 * ========================================================================== */

.project{

	width: 700px;
	margin: 0 auto;

	&__header{
		margin: 0 0 10px;
	}

	&__images{
		margin: 0 0 45px;
	}

	&__info{
		@include clearfix;
		margin: 0 0 45px; 
	}

	&__year{
		float: right;
		width: 160px;
		text-align: right;
	}

	&__jobs{
		margin: 0 160px 0 0;
	}

	&__text{
		
	}
}

.project-header{
	display: table;
	width: 100%;
	height: 143px;

	&__logo-placeholder{
		display: table-cell;
		vertical-align: middle;
		border: 1px solid #e0e0e0;
		width: 143px;
		padding: 5px;
		text-align: center;
	}

	&__logo{
		max-width: 100%;
		height: auto;
	}

	&__content{
		display: table-cell;
		vertical-align: middle;
		padding: 10px 0 10px 26px;
	}

	&__title{
		font-size: 32px;
		font-weight: 600;
		margin: 0 0 5px;
	}

	&__href{
		color: #898989;
		font-size: 18px;
	}
}

.project-images{

	height: 449px;
	overflow: hidden;

	&__list{
		@include list;
	}

	&__item{		
		height: 449px;
		text-align: center;
	}

	&__image{
		height: 100%;
		width: auto;
		vertical-align: top;
	}

	.bx-viewport{
	}

	.bx-wrapper{
		position: relative;
	}
	
	.bx-prev,
	.bx-next{
		content: '';
		display: block;
		text-indent: -9999px;
		text-align: left;
		position: absolute;
		top: 50%;
		margin: -25px 0 0;
		transition: all .2s;
	
		&:hover{
			opacity: .8;
		}
	}
	
	.bx-prev{
		@include sprite(left);
		left: 20px;
	}
	
	.bx-next{
		@include sprite(right);
		right: 20px;
	}
	
	.bx-pager{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 13px;
		text-align: center;
	}
	
	.bx-pager-item{
		display: inline-block;
		vertical-align: top;
		margin: 0 3px;
	}
	.bx-pager-link{
		display: inline-block;
		text-align: left;
		text-indent: -9999px;
		width: 15px;
		height: 15px;
		border: 2px solid #bfbdd5;
		border-radius: 50%;
		
		transition: all .2s;
	
		&:hover,
		&.active{
			background: #7d0000;
		}
	}
}

.project-year{
	color: #a8a8a8;

	&__title{
		font-size: 13px;
		margin: 0 0 3px;
	}

	&__year{
		font-size: 34px;
		font-weight: 700;
	}
}

.project-jobs{

	&__list{
		@include list;
		margin: 0 0 -8px;
		color: #8f949a;
		font-size: 18px;
		font-weight: 600;
		color: $orange;
	}

	&__item{
		margin: 0 0 8px;
		padding: 0 0 0 34px;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			@include sprite(orange-list-mark);
		}
	}
}


/* ==========================================================================
 * contacts
 * ========================================================================== */

.contacts{
	
	position: relative;
	min-height: 750px;

	&__map{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__footer{
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&__list{
		@include list;
		margin: 0 0 60px;
		font-size: 15px;
		color: #6c6d6f;
	}

	&__item{
		margin: 0 0 30px;
		padding: 0 0 0 29px;
		position: relative;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		&--phone{
			&:before{
				@include sprite(phone);
				margin: 5px 0 0 3px;
			}
		}
		&--address{
			&:before{
				@include sprite(map-point);
				margin: -6px 0 0 5px;
			}
		}
		&--email{
			&:before{
				@include sprite(envelope);
				margin: 0px 0 0 0;
			}
		}
	}

	&__phone{
		color: $orange;
		font-size: 35px;
		font-weight: 700;
	}

	&__email{
		
	}
}

/* ==========================================================================
 * map
 * ========================================================================== */

.map{
	
	&__map{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #ccc;
	}

	&__content{
		display: inline-block;
		//width: 465px;
		position: relative;
		left: 50%;
		margin: 150px 0 90px -480px;
		@media (max-width: $max-width), (max-height: $max-height){
			margin-top: 90px;
		}
	}

}


/* ==========================================================================
 * footer
 * ========================================================================== */

.footer{
	padding: 40px 0 40px;
	background: $orange;
	color: #fff;

	&__logo-placeholder{
		float: left;
	}

	&__logo{
		@include sprite(logo-footer);
		display: block;
		text-indent: -9999px;
		text-align: left;
	}

	&__content{
		margin: 5px 0 0 80px;
		font-size: 14px;
	}

	&__social{
		float: right;
		margin: 15px 0 0;
	}
}

/* ==========================================================================
 * social
 * ========================================================================== */

.social{
	
	&__list{
		@include list;
		margin: 0 0 -5px;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 5px 10px;

		&first-child{
			margin-left: 0;
		}
	}

	&__href{
		display: block;
		text-align: left;
		text-indent: -9999px;

		transition: all .2s;

		&--in{
			@include sprite(soc-in);
		}

		&--fb{
			@include sprite(soc-fb);
		}

		&:hover{
			opacity: .7;
		}
	}

}

/* ==========================================================================
 * modal
 * ========================================================================== */

.modal-overflow{
	overflow: hidden;
}

.modal{
	display: none;
	width: 960px;
	margin: 0 auto 20px;

	&--project{
		width: 890px;
	}
}


.fancybox-skin{
	background: transparent;
	border-radius: 0px;
	color: $text;
}


.fancybox-opened .fancybox-skin{
	box-shadow: none;	
}

.fancybox-type-inline .fancybox-close{
	display: block;
	@include sprite(close);
	top: 20px;
	right: 20px;
	transition: all .3s;
	&:hover{
		opacity: .7;
	}
}
